commands:
    01_add_tags_to_volumen:
        command: "/tmp/add-tags-to-volumen.sh"

files:
    "/tmp/add-tags-to-volumen.sh":
        mode: "000755"
        content : |
            #!/bin/bash

            VOL_REGION='us-east-1'
            VOL_TAG_KEY='billing'
            VOL_TAG_VALUE='toyota'

            inst_id=$(ec2-metadata -i | tr -d '[:space:]' | cut -d':' -f 2)

            echo "Instance ID: $inst_id"

            vol_id=$(aws ec2  describe-volumes --filters Name=attachment.instance-id,Values=$inst_id --query 'Volumes[*].{ID:VolumeId}' --region $VOL_REGION --output text)

            echo "Volumen ID: $vol_id"

            aws ec2 create-tags --resources $vol_id --tags Key=$VOL_TAG_KEY,Value=$VOL_TAG_VALUE --region $VOL_REGION

            echo "Tag was adding $VOL_TAG_KEY:$VOL_TAG_VALUE to volumen $vol_id"
