@import "./variables";
*{
	outline: none;
}
html, body {
  	width: 100%;
  	overflow-x: hidden;
	background: #000;
	height: -webkit-fill-available;
}
#video {
	position: absolute;
    right: -1px;
    top: 0px;
    width: 101%;
    min-height: 100%;
	opacity: 1;
    animation: fadeOut 0.5s ease-in-out 1 forwards;
	animation-delay: 7s;
}
#video2 {
	position: absolute;
    right: -1px;
    top: 0px;
    width: 101%;
    min-height: 100%;
	opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1 forwards;
	animation-delay: 4s;
}
.degrade
{
	background-image: url("/images/gradient-bg-home.png");
	background-position: bottom left;
    max-width: 430px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}
.containerSpecial
{
	max-width: 430px;
	width: 100%;
	top: 0;
	opacity: 0;
	display: flex;
	margin: 0 auto;
	animation: fadeIn 0.5s ease-in-out 1 forwards;
	animation-delay: 4s;
	height: 100vh;  
	max-height: -webkit-fill-available;
}
.animationStart
{
	opacity: 1;
	animation: fadeOut 0.5s ease-in-out 1 forwards;
	animation-delay: 0.7s;
}
.positionAbsolute
{
	position: absolute;
	top: 0;
	width: 100%;
}
.containerSpecial.animationExit
{
	opacity: 1;
	animation: fadeOutRight 0.5s ease-in-out 1 forwards;
	animation-delay: 1s;
	left: 0;
	overflow: hidden;
    position: relative;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOutRight {
    from {opacity: 1; margin-left: 0%; }
    to {opacity: 0; margin-left: -50%; }
}

@keyframes fadeInRight {
    from {opacity: 0; left: 50%; }
    to {opacity: 1; left: 0;}
}

@keyframes fadeInLeft {
    from {opacity: 0; left: -50%; }
    to {opacity: 1; left: 0;}
}

@keyframes fadeInTop {
    from {opacity: 0; top: -200px; }
    to {opacity: 1; top: 53px;}
}

@keyframes fadeInBottom {
    from {opacity: 0; bottom: -200px; }
    to {opacity: 1; bottom: 40px;}
}

@keyframes fadeInBottom2 {
    from {opacity: 0; bottom: -200px; }
    to {opacity: 1; bottom: 0px;}
}

@keyframes fadeOutRight2 {
    from {opacity: 1; left: 0%; }
    to {opacity: 0; left: 50%;}
}

@keyframes fadeOutLeft2 {
    from {opacity: 1; left: 0%; }
    to {opacity: 0; left: -50%;}
}

@keyframes fadeOutTop2 {
    from {opacity: 1; top: 53px; }
    to {opacity: 0; top: -200px;}
}

@keyframes fadeOutBottom2 {
    from {opacity: 1; bottom: 40px; }
    to {opacity: 0; bottom: -200px;}
}

@keyframes fadeInTopform {
    from {opacity: 0; top: -50vh; }
    to {opacity: 1; top: 0;}
}

@keyframes fadeInRightform {
    from {opacity: 0; right: -100%; }
    to {opacity: 1; right: 0;}
}

@keyframes fadeInBottom3 {
    from {opacity: 0; bottom: -200%; }
    to {opacity: 1; bottom: 0%;}
}
@keyframes fadeInTop3 {
    from {opacity: 1; bottom: 0%; }
    to {opacity: 0; bottom: -200%;}
}


body {
	font-family: NotoSans-Regular; 
	-webkit-font-smoothing: antialiased;
	background: transparent;
	background: #000;
	color: #fff;
	letter-spacing: 1px;
	overflow-x: hidden;
	letter-spacing: 0px;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	.MuiPaper-root
	{
		background-color: #000;
	}
	.MuiDialogContent-root:first-child
	{
		padding-top: 0px;
		padding-bottom: 27px;
	}
	img
	{
		width: 100%;
	}
	a {
		cursor: pointer;
	}
	.buttonStart,
	.buttonPhoto,
	.buttonJoin,
	.buttonThanks,
	.yesContinue,
	.againPhoto,
	.linkVideo,
	.button-send-form,
	.buttonCookie
	{
		background-color: #5A2DFC ;
		color: #fff ;
		margin: 0 auto;
		display: block;
		position: relative;
		font-size: 14px;
		width: 322px;
		height: 56px;
		border-radius: 30px;
		font-family: 'JoyrideEx';
		text-transform: lowercase;
		display: flex;
    	align-items: center;
		justify-content: center;
		@include mobileMin
		{
			width: 300px;
		}
		&.MuiButton-contained.Mui-disabled
		{
			background-color: #383148;
			color: #fff;
			margin: 0 auto;
			span
			{
				color: #fff !important;
				opacity: 0.6;
			}
		}
		.MuiButton-label
		{
			margin-top: 4px;
		}
	}
	.button-send-form
	{
		margin: 30px auto !important;
		margin-bottom: 20px;
		@include mobileMin
		{
			width: 290px;
		}
	}
	a.buttonThanks {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.MuiButton-contained:hover
	{
		background-color: #4720D6;
	}
	&.fancybox-active
	{
		.navbar.bg-light
		{
			position: fixed;
			width: 100%;
		}
	}
	.startPage
	{
		max-width: 430px;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0 auto;
		background-position: center;
		background-size: cover;
		overflow: hidden;
    	position: absolute;
		left: 0;
		right: 0;
		background-image: url("/images/bg-app.jpg");
		background-position: center;
		background-size: cover;
		font-family: 'JoyrideEx';
		.copyStart
		{
			font-size: 17px;
			text-align: center;
			color: #fff;
			margin: 0 auto 0;
			width: 100%;
			line-height: 24px;
			max-width: 324px;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			text-transform: lowercase;
			filter: drop-shadow(0 0 1.4rem #0A074699);
			bottom: 117px;
			letter-spacing: 0px;
			@include mobileMin
			{
				font-size: 16px;
				width: 300px;
			}
			span
			{
				font-family: "ToyotaRegular";
				display: block;
				font-size: 15px;
				line-height: 20px;
				margin-top: 4px;
				text-transform: initial;
				letter-spacing: 0px;
				width: 280px;
				margin: 0 auto;
				@include mobileMin
				{
					font-size: 14px;
					width: 300px;
				}
			}
		}
		.buttonStart
		{
			position: absolute;
			left: 0;
			right: 0;
			top: auto;
			bottom: 46px;
		}
		.copyFooter
		{
			position: absolute;
			font-size: 0.66rem;
			color: #ddd;
			text-align: center;
			bottom: 30px;
			width: 100%;
			letter-spacing: 0;
			font-family: 'ToyotaRegular';
			bottom: 17px;
			a
			{
				text-decoration: underline;
			}
		}
	}
	.container,
	.chooseCharacter,
	.formVideo,
	.checkVideoFinal,
	.sharedExperience,
	.likePicture,
	.loading,
	.terms
	{
		max-width: 430px;
		width: 100%;
		min-height: 100%;
		display: block;
		margin: 0 auto;
		background-color: black;
		overflow-x: hidden;
    	position: absolute;
		left: 0;
		right: 0;
		font-family: 'JoyrideEx';
		background-image: url("/images/bg-app.jpg");
		background-position: center;
		background-size: cover;
		&.especial
		{
			max-width: 100%;
			.sharedExperience
			{
				display: none;
				@include mobilePlus
				{
					display: block;
					padding-bottom: 10px;
				}
			}
			.indexDesktop
			{
				display: flex;
				@include mobilePlus
				{
					display: none;
				}
			}
			.landscape
			{
				display: none;
			}
		}
		
		.textTerms
		{
			width: 90%;
			margin: 20px auto;
			display: block;
			font-size: 10px;
			font-family: 'ToyotaRegular';
		}
		// chooseCharacter
		.selectCopy
		{
			font-size: 25px;
			text-align: center;
			color: #fff;
			top: -200px;
			width: 100%;
			max-width: 300px;
			line-height: 26px;
			margin: -10px auto 0px;
			text-transform: lowercase;
			position: absolute;
			left: 0;
			right: 0;
			opacity: 0;
			animation: fadeInTop 0.3s ease-in-out 1 forwards;
			animation-delay: 2s;
			&.active
			{
				top: 53px;
				opacity: 1;
				animation: fadeOutTop2 0.3s ease-in-out 1 forwards;
				animation-delay: 2s;
			}
		}
		.selectCharacter1,
		.selectCharacter2
		{
			border: 1px solid #fff;
			width: 100%;
    		height: 17.5vh;
			margin: 0 auto 6vh;
			display: block;
			position: relative;
			background-image: url("/images/bg-masculino.jpg");
			background-position: center;
			background-size: cover;
			zoom: 1;
			opacity: 0;
			@include mobileMin
			{
				width: 300px;
			}
			img
			{
				right: 0;
				left: 0;
				margin: 0 auto;
				width: 21vh;
				position: absolute;
				bottom: 0;
				transition: all 0.2s ease-out;
			}
			&.normal
			{
				opacity: 0.5;
			}
			&.selected
			{	
				background-image: url("/images/bg-masculino2.jpg");
				transition: all 0.3s ease-out;
				opacity: 1;
				zoom: 1;
				border: 4px solid #5A2DFC;
				img
				{
					width: 24vh;
					transition: all 0.2s ease-out;
				}
			}
			@include mobileMinL
			{
				img
				{
					width: 19vh;
				}
				&.selected
				{
					img
					{
						width: 20vh;
					}
				}
			}
		}
		.selectCharacter1
		{
			animation: fadeInLeft 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
			margin: 0 auto 0px;
		}
		.selectCharacter2
		{
			background-image: url("/images/bg-femenina.jpg");
			animation: fadeInRight 0.3s ease-in-out 1 forwards;
			animation-delay: 1s;
			&.selected
			{
				background-image: url("/images/bg-femenina2.jpg");
			}
			img
			{
				right: -20px;
			}
		}

		// likePicture
		.canvasPhoto
		{
			height: 100%;
			width: 100%;
			top: 0;
			position: absolute;
		}
		.paddingCanvas
		{
			height: 480px;
			width: 100%;
			position: relative;
		}
		.boxPhoto
		{
			width: 680px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-position: center;
			background-size: cover;
			max-height: 90vh;
			overflow: hidden;
			
			@include mobileGrand
			{
				/* width: 100%;*/
			}
		}
		.bgdegrade
		{
			height: 380px;
			width: 100%;
			position: absolute;
			bottom: 1px;
			background-image: url("/images/bgDegrade.png");
			background-position: center;
			background-size: cover;
		}
		.yesContinue,
		.againPhoto
		{
			position: relative;
			margin: 10px auto 20px;
			opacity: 0;
			left: -50%;
			position: relative;
			animation: fadeInLeft 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
		}
		.againPhoto
		{
			background: transparent;
			border: 2px solid #fff;
			opacity: 0;
			right: -50%;
			position: relative;
			animation: fadeInRight 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
		}
		.copyLike
		{
			font-size: 15px;
			width: 320px;
			margin: 2% auto 17px;
			text-align: center;
			text-transform: lowercase;
			position: relative;
			z-index: 1;
			opacity: 0;
			right: -50%;
			position: relative;
			animation: fadeInRight 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
		}

		// sharedExperience
		.videoGeneral
		{
			width: 100%;
		}
		.videoForm
		{
			z-index: 0;
			width: 100%;
			position: absolute;
			opacity: 0.9;
		}
		.logoToyota
		{
			width: 240px;
			display: block;
			margin: 5% auto;
			&.join
			{
				width: 223px;
				margin: 50px auto;
				position: relative;
				top: -50vh;
				animation: fadeInTopform 0.3s ease-in-out 1 forwards;
				animation-delay: 1s;
			}
		}
		.copyThanks
		{
			margin: 20px auto;
			font-size: 22px;
			text-align: center;
			opacity: 0;
			right: -50%;
			position: relative;
			animation: fadeInRight 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
			.copyLunay
			{
				font-size: 15px;
				font-family: "JoyrideEx";
				margin: 0px auto 10px;
				text-transform: lowercase;
				width: 300px;
				line-height: 20px;
			}
			span
			{
				font-size: 15px;
				line-height: 100%;
				font-family: "ToyotaRegular";
				margin: 10px auto;
				width: 310px;
				display: block;
				letter-spacing: 0;
				line-height: 19px;
				a
				{
					text-decoration: underline;
				}
			}
		}
		.sharedSocial
		{
			width: 300px;
			height: 111px;
			background-image: url("/images/bgSocial.png");
			background-position: center;
			background-size: cover;
			overflow: hidden;
			position: relative;
			display: block;
			margin: 0 auto;
			color: #C0ACED;
			font-size: 14px;
			padding: 22px 0 0 0 ;
			text-align: center;
			margin: 20px auto 0;
			text-transform: lowercase;
			bottom: -200px;
			opacity: 0;
			position: relative;
			animation: fadeInBottom2 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
		}
		.iconSocial
		{
			text-align: center;
			margin: 20px 0;
			a
			{
				margin: 0 20px;
				display: inline-block;
			}
			img
			{
				display: inline-block;
				width: 35px;
			}
		}
		.buttonThanks
		{
			margin: 20px auto;
			background: transparent;
			border: 2px solid #FFFFFF54;
		}
		.copyFooter
		{
			position: absolute;
			font-size: 11px;
			color: #fff;
			text-align: center;
			bottom: 10px;
			width: 100%;
			font-family: 'ToyotaRegular';
			a
			{
				text-decoration: underline;
			}
		}

		// checkVideoFinal
		video.checkVideoFinalVideo
		{
			margin: 0 auto;
			display: block;
			width: 100%;
		}
		.copyJoin
		{
			margin: 10px auto;
			font-size: 16px;
			width: 90%;
			text-align: center;
			margin: 20px auto 20px;
			line-height: 20px;
			text-transform: lowercase;
			width: 300px;
			opacity: 0;
			right: -50%;
			position: relative;
			animation: fadeInRight 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
			span
			{
				font-size: 16px;
				line-height: 20px;
				font-family: "ToyotaRegular";
				margin: 20px auto 23px;
				display: block;
				text-transform: initial;
				width: 200px;
			}
		}	
	}
	.checkVideoFinal
	{
		display: none;
		@include mobilePlus
		{
			display: block;
		}
		.logoToyota
		{
			width: 223px;
			margin: 48px auto 52px;
		}
		.buttonJoin
		{
			margin-bottom: 10px;
			bottom: -200px;
			position: relative;
			animation: fadeInBottom2 0.3s ease-in-out 1 forwards;
			animation-delay: 1s;
		}
		.react-player
		{
			left: -50%;
			opacity: 0;
			position: relative;
			animation: fadeInLeft 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
		}
	}
	.buttonPhoto
	{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -200px;
		animation: fadeInBottom 0.3s ease-in-out 1 forwards;
		animation-delay: 2s;
		&.active
		{
			bottom: 40px;
			opacity: 1;
			animation: fadeOutBottom2 0.3s ease-in-out 1 forwards;
			animation-delay: 2s;
		}
	}
	.chooseCharacter
	{
		padding: 20px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		overflow: hidden;
		.BoxchooseCharacter
		{
			padding-top: 15vh;
			position: relative;
			padding-bottom: 15vh;
			width: 320px;
			&.selected
			{
				.selectCharacter2, .selectCharacter1
				{
					zoom: 0.8;
					width: 90%;
					filter: brightness(40%);
					transition: all 0.3s ease-out;
				}
				.selectCharacter2.selected, .selectCharacter1.selected
				{
					zoom: 1 !important;
					filter: brightness(100%);
					transition: all 0.3s ease-out;
					width: 100%;
				}
			}
		}
		
		&.active
		{
			.selectCharacter2
			{
				opacity: 1;
				left: 0%;
				animation: fadeOutRight2 0.3s ease-in-out 1 forwards;
				animation-delay: 1s;
			}
			.selectCharacter1
			{
				opacity: 1;
				left: 0;
				animation: fadeOutLeft2 0.3s ease-in-out 1 forwards;
				animation-delay: 1s;
			}
		}
	}
	.boxLink
	{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		.logoToyota
		{
			margin-top: 0;
		}
	}
	.copyLink
	{
		opacity: 0;
		right: -50%;
		position: relative;
		animation: fadeInRight 0.3s ease-in-out 1 forwards;
		animation-delay: 1.5s;
	}
	.copyLinkText
	{
		font-size: 16px;
		font-family: "JoyrideEx";
		margin: 0px auto 10px;
		width: 300px;
		line-height: 20px;
		text-transform: lowercase;
		span
		{
			font-family: 'ToyotaRegular' !important;
			font-size: 18px !important;
			width: 300px !important;
			margin-top: 0 !important;
			text-transform: initial !important;
		}
	}
	.sharedExperience
	{
		.logoToyota
		{
			width: 190px;
			margin: 33px auto 35px;
			position: relative;
			top: -50vh;
			animation: fadeInTopform 0.3s ease-in-out 1 forwards;
			animation-delay: 1s;
			&.gif
			{
				width: 320px;
				margin: 20px auto;
			}
		}
		.react-player
		{
			left: -50%;
			opacity: 0;
			position: relative;
			animation: fadeInLeft 0.3s ease-in-out 1 forwards;
			animation-delay: 1.5s;
		}
		.copyFooter
		{
			position: relative;
			margin: 20px auto;
		}
	}
	.loading
	{
		display: flex;
		justify-content: center;
		align-items: center;
		.logoToyota
		{
			width: 240px;
			display: block;
			margin: 5% auto;
		}
		.percentageVideo
		{
			width: 100%;
			height: 280px;
			min-height: 150px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;

			.boxPercentage
			{
				width: 140px;
				height: 60px;
				font-family: 'ToyotaRegular';
				letter-spacing: 0px;
				.iconPercentage
				{
					width: 40px;
					height: 40px;
					background-image: url("/images/vector-animacion.svg");
					background-position: center left;
					background-size: contain;
					background-repeat: no-repeat;
					transform: rotate(90deg);
					float: left;
					margin: 8px 0px 0px;
				}
				.numberPercentage
				{	
					float: right;
					font-size: 11px;
					width: calc(100% - 45px);
					text-shadow: 0 0 3px #000;
				}	
				.linePercentage
				{
					height: 2px;
					float: left;
					width: calc(100% - 50px);
					margin: 0 0 0 5px;
					.percentage
					{
						height: 2px;
						background: #FFD800;
					}
				}
				.timePercentage
				{
					float: right;
					font-size: 11px;
					width: calc(100% - 45px);
					text-shadow: 0 0 3px #000;
				}
				.secondPercentage
				{
					float: right;
					font-size: 11px;
					width: calc(100% - 45px);
					text-shadow: 0 0 3px #000;
				}
			}
		}

	}
	.terms
	{
		color: #fff;
	}
	// formVideo
	.formVideo
	{
		height: auto;
		min-height: 100%;
		form
		{
			width: 315px;
			margin: 0 auto 20px;
			z-index: 0;
			position: relative;
			right: -100%;
			opacity: 0;
			animation: fadeInRightform 0.5s ease-in-out 1 forwards;
			animation-delay: 1.5s;
			@include mobileMin
			{
				width: 290px;
			}
		}
		.percentageVideo
		{
			width: 100%;
			height: 240px;
			min-height: 150px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			@include mobile
			{
				height: 213px;
			}
			@include mobileMin
			{
				height: 180px;
			}
			.boxPercentage
			{
				width: 200px;
				height: 60px;
				font-family: 'ToyotaRegular';
				letter-spacing: 0px;
				.iconPercentage
				{
					width: 60px;
					height: 60px;
					background-image: url("/images/cube.gif");
					background-position: center left;
					background-size: contain;
					background-repeat: no-repeat;
					float: left;
					margin: -8px 0px 0px;
				}
				.numberPercentage
				{	
					float: right;
					font-size: 11px;
					width: calc(100% - 60px);
				}	
				.linePercentage
				{
					height: 2px;
					float: left;
					width: calc(100% - 70px);
					margin: 0 0 0 10px;
					position: relative;
					.percentage
					{
						height: 2px;
						background: #FFD800;
						position: absolute;
						z-index: 1;
						transition: width 0.3s;
						&.gray
						{
							background: #3c3c3c;
						}
					}

				}
				.timePercentage
				{
					float: right;
					font-size: 11px;
					width: calc(100% - 60px);
				}
				.secondPercentage
				{
					float: right;
					font-size: 11px;
					width: calc(100% - 60px);
					transition: width 0.3s;
				}
			}
		}
		.copyTitleForm
		{
			margin-top: 28px;
			font-size: 22px;
			text-align: center;
			width: 100%;
			text-transform: lowercase;
			position: relative;
			z-index: 0;
			top: -50vh;
			opacity: 0;
			animation: fadeInTopform 0.5s ease-in-out 1 forwards;
			animation-delay: 1s;
		}
		.copySubtitleForm
		{
			margin: 10px auto;
			font-size: 14px;
			text-align: center;
			width: 100%;
			font-family: 'ToyotaRegular';
			z-index: 0;
			position: relative;
			top: -50vh;
			opacity: 0;
			animation: fadeInTopform 0.5s ease-in-out 1 forwards;
			animation-delay: 1s;
		}
		.MuiInputBase-root
		{
			width: 100%;
			margin: 23px auto;
			display: block;
			transition: width 0.3s;
			padding-right: 25px;
			&.check
			{
				background-image: url("/images/icon-ok.svg");
				background-repeat: no-repeat;
				background-position: center right;
				transition: width 0.3s;
			}
		}
		.MuiInput-underline.error:before
		{
			border-bottom: 2px solid #FAC2C2;
		}
		.MuiInput-underline.error:hover:not(.Mui-disabled):before
		{
			border-bottom: 2px solid #FAC2C2;
		}
		.MuiInput-underline:before
		{
			border-bottom: 2px solid #848484;
		}
		.MuiInput-underline:hover:not(.Mui-disabled):before
		{
			border-bottom: 2px solid #848484;
		}
		.MuiInput-underline:after
		{
			border-bottom: 2px solid #fff;
			transition: transform 0.5s cubic-bezier(0.0, 0, 0.2, 1) 0ms;
		}
		.MuiInputBase-input
		{
			width: 100%;
			color: #fff;
			font-family: 'ToyotaRegular';
			padding-bottom: 10px;
			
		}
		.MuiInput-underline.error
		{
			.MuiInputBase-input::placeholder {
				color: #FAC2C2;
			}
		}
		.errorsField
		{
			display: block;
			width: 100%;
			margin: -20px auto -15px;
			color: #FAC2C2;
			font-family: 'ToyotaRegular';
			font-size: 12px;
			&.center
			{
				width: 100%;
				text-align: center;
				margin: 10px auto;
			}
		}
		.boxCheckbox
		{
			width: 100%;
			margin: 20px auto;
			display: block;
			font-family: 'ToyotaRegular';
			letter-spacing: 0px;
			overflow: hidden;
			color: #848484;
			font-size: 15px;
			position: relative;
			.MuiSvgIcon-root
			{
				color: #414141;
			}
			.MuiCheckbox-colorSecondary.Mui-checked .MuiSvgIcon-root
			{
				color: #5A2CFB;
			}
			.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track
			{
				background-color: transparent;
			}
			.MuiSwitch-colorSecondary.Mui-checked
			{
				color: #5A2CFB;
			}
			.MuiSwitch-colorSecondary .MuiSwitch-thumb
			{
				background-image: url("/images/icon-buttonx.png");
				background-size: 20px;
    			background-repeat: no-repeat;
			}
			.MuiSwitch-colorSecondary.Mui-checked .MuiSwitch-thumb
			{
				background-image: url("/images/icon-button.png");
			}
			.MuiSwitch-switchBase
			{
				color: #544E5C;
			}
			
			.MuiSwitch-track
			{
				border: 2px solid #544E5C;
				padding: 12px 22px;
				margin: -7px -7px;
				border-radius: 15px;
				background-color: transparent;
			}
			.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track
			{
				border: 2px solid #5A2CFB;
				padding: 12px 22px;
				margin: -7px -7px;
				border-radius: 15px;
			}
			.MuiSwitch-root
			{
				margin: 5px 0;
				right: -6px;
			}
			.switch2
			{
				margin: 35px 0;
			}
			.copyCheckbox
			{
				width: calc(100% - 80px);
				float: left;
				margin-right: 20px;
				&.special
				{
					width: 100%;
					a
					{
						text-decoration: underline;
					}
				}
				
			}
		}

	}
	.likePicture
	{
		.boxIframe
		{
			max-width:430px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: transparent;
			.bgPhotoDegrade
			{
				height: 100%;
				width: 100%;
				position: absolute;
				opacity: 0.3;
				background: #000;
			}
		}
		.boxAnimation
		{
			width: 375px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 100%;
			overflow: hidden;
			top: -30px;
			iframe
			{
				position: relative;
				width: 750px;
				height: 150%;
				border: none;
				top: 0;
				-moz-transform: scale(0.50);
				-moz-transform-origin: 0 0;
				-o-transform: scale(0.50);
				-o-transform-origin: 0 0;
				-webkit-transform: scale(0.50);
				-webkit-transform-origin: 0 0;
				
				@include mobile
				{
					left: 0;
					width: 250%;
					-webkit-transform: scale(0.50);
				}
				@include mobileAndroid
				{
					left: 0;
					width: 250%;
					-webkit-transform: scale(0.48);
				}
				@include mobileMin
				{
					width: 250%;
					-webkit-transform: scale(0.42);
				}
			}
		}
		
	}
	// formVideo
	.indexDesktop,
	.notAvailable
	{
		background: #000;
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("/images/bg-site-desktop.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include tablet
		{
			min-height: 100%;
			height: auto;
			padding: 5% 0 10%;
		}
		.boxItemsDesktop,
		.boxItemsNotAvailable
		{
			display: block;
			width: 100%;
			max-width: 1280px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1%;
			@include tablet
			{
				display: block;
			}

			.videoDesktop
			{
				width: calc(100% - 420px);
				height: auto;
				float: left;
				video
				{
					width: 100%;
					box-shadow: 0px 5px 10px #080808;
				}
				@include tablet
				{
					width: 100%;
					float: none;
					display: block;
					margin: 0 auto;
				}
			}
			.copydesktop,
			.copyNotAvailable
			{
				width: 325px;
				height: auto;
				float: left;
				text-align: center;
				padding: 0 0;
				@include tablet
				{
					width: 100%;
					float: none;
					display: block;
					margin: 0 auto;
				}
				.logoToyota
				{
					width: 100%;
					max-width: 336px;
					margin: 0 auto 40px;
					display: block;
					&.desktop
					{
						@include desktopMax
						{
							display: block;
						}
						@include tabletMax
						{
							display: none;
						}
					}
				}
				hr.desktop
				{
					width: 336px;
					margin: 0px auto 40px;
					@include desktopMax
					{
						display: block;
					}
					@include tabletMax
					{
						display: none;
					}
				}
				p.desktop
				{
					width: 280px;
					margin: 0px auto 40px;
					@include desktopMax
					{
						display: block;
					}
					@include tabletMax
					{
						display: none;
					}
				}
				.QR
				{
					width: 195px;
					margin: 0 auto;
					display: block;
					@include desktopMax
					{
						display: block;
					}
					@include tabletMax
					{
						display: none;
					}
					&.join
					{
						margin-top: 25px;
					}
				}
				a.desktop
				{
					width: 287px;
					display: block;
					font-size: 12px;
					text-decoration: none;
					margin: 15px auto 20px;
					font-weight: 100;
					font-family: "ToyotaRegular";
					&:hover
					{
						text-decoration: underline;
					}
					@include desktopMax
					{
						display: block;
					}
					@include tabletMax
					{
						display: none;
					}
				}


				.rotate
				{
					width: 100%;
					max-width: 100px;
					margin: 0 auto;
					display: block;
					&.mobile
					{
						@include desktopMax
						{
							display: none;
						}
						@include tabletMax
						{
							display: block;
						}
					}
				}
				h2
				{	
					line-height: 30px;
					margin: 5% auto 10px;
					display: block;
					width: 100%;
					max-width: 340px;
					font-size: 20px;
					font-family: 'JoyrideEx';
					text-transform: lowercase;
				}
				p
				{
					margin: 0 auto;
					display: block;
					width: 100%;
					max-width: 340px;
					font-family: 'ToyotaRegular';
				}
			}
			.copyNotAvailable
			{
				width: 100%;
				p, h2
				{
					font-size: 13px;
					max-width: 470px;	
				}
				p
				{
					@include tabletMax
					{
						max-width: 375px;	
						font-size: 16px;
					}
				}
				a
				{
					text-decoration: underline;
					font-family: 'ToyotaBold';
				}
			}
		}
	}
	.indexDesktop
	{
		height: 100vh;
		padding: 0 5%;
		@include mobilePlus
		{
			display: none;
		}
		.videoDesktop
		{
			@include tablet
			{
				max-width: 500px;
				margin: 0 auto 20px !important;
			}
		}
		.copydesktop
		{
			h2
			{
				@include tablet
				{
					max-width: 500px !important;
				}
			}
		}
	}

	.zoneTakePhoto
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 800px;
		max-width: 800px;
		margin: 0 auto;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: calc(100% - 110px);
		background-image: url("/images/loading.svg");
		background-position: 50% 30%;
		background-repeat: no-repeat;
		.bgFace
		{
			background-image: url("/images/frame-capt-photo_left.svg"), url("/images/frame-capt-photo_right.svg");
			background-position: 32%, 68%;
			background-repeat: no-repeat;
			width: 100%;
			background-size: contain;
			position: absolute;
			z-index: 10;
			height: 320px;
		}
		video
		{
			min-height: 100%;
			position: relative;
		}
	}

	.zoneMessage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		max-width: 430px;
		margin: 10px 0;
		position: absolute;
		bottom: 0;;
		p {
			font-family: "ToyotaRegular";
			text-align: center;
			font-size: 14px;
			line-height: 16px;
			padding: 10px;
		}
	}

	/* buttom take photo */
	.container-circles {
		position: relative;
		height: 75px;
		width: 75px;
		margin: 10px auto;
		cursor: pointer;
		margin-top: -90px;
	}

	.outer-circle {
		position: absolute;
		left: 0;
		height: 75px;
		width: 75px;
		background-color: #fff;
		border-radius: 50%;
		z-index: 1;
	}

	.inner-circle {
		position: absolute;
		left: 50%;
		top: 33px;
		height: 54px;
		width: 54px;
		background: white;
		border-radius: 50%;
		margin: -22px 0px 0px -27px;
		z-index: 2;
		border: 2px solid #5A2CFB;
	}

	.outer-circle:hover {
		zoom: 0.99;
		transition: width 0.1s;
	}

	.icons-social 
	{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 200px;
		margin: 0 auto;
		button
		{
			margin: 20px 0 !important;
		}
	}
}
.boxProgrees
{
	position: absolute !important;
	top: 10px;
	left: 10px;
	z-index: 10;
}
.boxProgrees .MuiCircularProgress-determinate.lineProgrees
{
	color: #5A2DFC;
}
.zone-cameras
{
	bottom: -95px;
    position: absolute;
    width: 300px;
	p
	{
		font-size: 10px;
		text-transform: lowercase;
		line-height: 13px;
		text-align: center;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button
	{
		background: transparent;
		border: none;
		img
		{
			width: 55px;
		}
	}
}
.portrait
{
	display: none;
}
body .landscape
{
	position: fixed;
	left: 0;
	width: 100%;
	zoom: 0.9;
	height: 100%;
	z-index: 1000;
	top: 0;

	.notAvailable
	{
		h2.desktopNot
		{
			@include desktopMax
			{
				display: block;
			}
			@include tabletMax
			{
				display: none;
			}
		}
		h2.desktop
		{
			@include desktopMax
			{
				display: block;
				margin-top: 0;
				width: 280px;
				line-height: 31px;
				font-size: 18px;
				font-weight: 300;
				margin-bottom: 9px;
			}
			@include tabletMax
			{
				display: none;
			}
		}
		h2.mobile
		{
			@include desktopMax
			{
				display: none;
			}
			@include tabletMax
			{
				display: block;
				font-size: 28px;
				max-width: 370px;
				font-weight: 100;
			}
		}
	}
	&.not
	{
		h2.mobile
		{
			font-size: 15px;
			line-height: 24px;
		}
		@include desktopMax
		{
			display: block;
		}
		@include mobilePlus
		{
			display: block;
		}
	}
	@include desktopMax
	{
		display: block;
	}
	@include mobilePlus
	{
		display: none;
	}
}
.android .boxPhoto
{
	width: 680px !important;
}
.ios.boxPhoto
{
	width: 100% !important;
}
.motorola.boxPhoto
{
	width: 600px !important;
}
.registerVideoBG
{
	position: absolute;
	z-index: 1;
}
.dialogs
{
	width: 100%;
	color: #fff;
	.MuiPaper-root
	{
		width: 300px;
		color: #fff;
		margin: 0;
	}
	h2
	{
		font-size: 20px;
		font-family: 'ToyotaBold';
		text-align: center;
	}
	p
	{
		font-size: 16px;
		font-family: 'ToyotaBold';
	}
	ul
	{
		font-family: "ToyotaRegular";
		padding: 0 0 0 0px;
		list-style: none;
		margin-top: -10px;
		margin-bottom: 20px;
		li
		{
			font-size: 14px;
		}
	}
	.MuiButton-root
	{
		background: #fff !important;
		width: 250px;
		height: 56px;
		font-size: 20px;
		font-family: 'ToyotaBold';
		color: #000;
		border-radius: 0px;
	}
	.MuiButton-root:hover{
		opacity: 0.7;
	}
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
{
	transition-delay: 10000s;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#cookieConcent {
	position: absolute;
	width: 100%;
	max-width: 430px;
	bottom: -200%;
	left: 0%;
	right: 0;
	margin: 0 auto;
	border: Solid 1px black;
	border-bottom: 0;
	padding: 1em 2em 2em 2em;
	font-family: sans-serif;
	background: #000;
	animation: fadeInBottom3 0.5s ease-in-out 1 forwards;
	animation-delay: 3.5s;
	font-family: "ToyotaRegular";
}
#cookieConcent.cookieDisabled
{
	bottom: 0;
	animation: fadeInTop3 0.5s ease-in-out 1 forwards;
	animation-delay: 0.5s;
}
#cookieConcent h1 {
	margin: 0;
}
#cookieConcent p {
	font-size: 13px;
	line-height: 16px;
}
#cookieConcent a
{
	text-decoration: underline;
}
#cookieConcent div {
	margin: 0.2em;
}
#cookieConcent button.buttonCookie {
	padding: 0.5em 1em;
	border: Solid 1px black;
	color: #fff !important;
	-webkit-tap-highlight-color: #fff;
	transition: initial;
}
#cookieConcent button.buttonCookie span
{
	color: #fff !important;
	opacity: 1;
}
#cookieConcent button.buttonCookie.Mui-disabled.Mui-disabled span
{
	color: #fff !important;
	opacity: 0.6;
}
#cookieConcent center {
	margin-top: 1em;
}
#cookieConcent input {
	width: 1.5em;
	background: red;
	vertical-align: middle;
}
#cookieConcent .MuiSvgIcon-root
{
	border: 2px solid #544e5c;
}
#cookieConcent .MuiCheckbox-colorSecondary.Mui-checked .MuiSvgIcon-root
{
	color: #5A2CFB;
}
#cookieConcent .textCheck
{
	font-size: 13px;
	overflow: hidden;
}
#cookieConcent .textCheck .MuiCheckbox-root
{
    padding-left: 0;
}
#cookieConcent .textCheck .copyCheckbox
{
	width: calc(100% - 60px);
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
.buttonCookie
{
	width: 100% !important;
}