doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='x-apple-disable-message-reformatting')
    title TOYOTA
    style(type='text/css').
      html,
      body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      background-color: #020202;
      }
      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      div[style*="margin: 16px 0"] {
      margin:0 !important;
      }
      table,
      td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
      }
      table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
      }
      table table table {
      table-layout: auto;
      }
      img {
      -ms-interpolation-mode:bicubic;
      }
      *[x-apple-data-detectors],  /* iOS */
      .x-gmail-data-detectors,    /* Gmail */
      .x-gmail-data-detectors *,
      .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      .a6S {
      display: none !important;
      opacity: 0.01 !important;
      }
      img.g-img + div {
      display:none !important;
      }
      .button-link {
      text-decoration: none !important;
      }
      .jump
      {
      display: none;
      }
      @media only screen and (max-width: 639px) {
      td[class="columnwrap"] table { width: 100%; }
      td[class="columnwrap"] .responsive_image_landscape img { width: 100%; height: auto !important; }
      td[class="columnwrap"] .responsive_image img { width: 100%; !important; height: auto !important; }
      td[class="columnwrap"] .responsive_image_portrait img { width: 186px; height: auto !important; }
      td[class="columnwrap"] .responsive_image_article img { width: 186px; height: auto !important; }
      td[class="columnwrap"] .button { text-align: left !important; }
      td[class="columnwrap"] .button-sub { width: 100% !important; max-width: 120px; height: auto !important; }
      td[class="columnwrap"] .button-cta { width: 100% !important; max-width: 180px; height: auto !important; }
      td[class="columnwrap"] .socialspacer { display: none; }
      }
      @media only screen and (max-width: 600px) {
      td[class="columnwrap"] .responsive_image_portrait img { width: 80%; height: auto !important; }
      td[class="columnwrap"] .responsive_image_article img { width: 80%; height: auto !important; }
      }
      @media only screen and (max-width: 450px) {
      .footer-links{ max-width: 100% !important; }
      td[class="columnwrap"] .socialspacer { display: none; }
      td[class="columnwrap"] .col{ width: 100%; display: block; }
      td[class="columnwrap"] .col:first-child { Margin-bottom: 0; margin: 0px auto;}
      td[class="columnwrap"] .responsive_image img { width: 100%; !important; height: auto !important; }
      td[class="columnwrap"] .responsive_image_portrait img { width: 90%; max-width: 140px; height: auto !important; }
      td[class="columnwrap"] .responsive_image_article img { width: 110px; height: auto !important; }
      td[class="columnwrap"] .button { text-align: left !important; }
      td[class="columnwrap"] .button-sub { width: 100% !important; max-width: 120px; height: auto !important; }
      td[class="columnwrap"] .button-cta { width: 100% !important; max-width: 180px; height: auto !important; }
      .jump
      {
      display: block;
      }
      }
      @media only screen and (max-width: 320px) {
      td[class="columnwrap"] .responsive_image_article img { width: 95px !important; height: auto !important; }
      }
    style.
      @media screen and (max-width: 480px) {
      .stack-column,
      .stack-column-center {
      display: block !important; width: 100% !important; max-width: 100% !important; direction: ltr !important;
      }
      .stack-column-center {
      text-align: center !important;
      }
      }
    //if (gte mso 9)|(IE)
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
  center(style='width: 100%; background: #020202;')
    div(bgcolor='#020202' style='max-width: 100%; margin: 0;')
      //if (gte mso 9)|(IE)
        table(width='100%' align='center' cellspacing='0' cellpadding='0' border='0' bgcolor='#020202' role='presentation')
          tr
            td
              table(width='640' align='center' cellspacing='0' cellpadding='0' border='0' role='presentation')
                tr
                  td
      // START CONTENT AREA
      table(bgcolor='#020202' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 100%; text-align: center; background-color: #020202;' width='100%')
        tbody
          tr
            td.columnwrap(align='center' bgcolor='#5A2CFB' cellpadding='0px 10px 15px 10px' margin='0' style="max-width: 600px; font-family: 'helvetica', serif; font-size: 11px; line-height: 13px; color: #fefefe; Margin: 0; padding: 7px 10px 7px 10px; mso-padding-alt: 7px 10px 7px 10px; Margin: 0; background-color: #5A2CFB;" width='100%')
              a.body-text(href='javascript:void(0);' style="font-family: 'helvetica', serif; font-size: 11px; line-height: 13px; color: #fefefe; font-weight: 400; text-decoration: underline;") Open with browser
          tr
            td.columnwrap(align='center' bgcolor='#020202' style='max-width: 600px; font-style: normal; text-decoration: none; background-color: #020202;     padding: 0 50px;')
              // START COLUMNIST (2 COLUMN)
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; cellpadding: 0; mso-padding-alt: 0; border: 0;' width='100%')
                tbody
                  tr
                    td.columnwrap(align='center' bgcolor='#020202' border='0' cellpadding='0px 0px 0px 0px' style='max-width: 600px; font-size: 0px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px; background-color: #020202;' valign='top' width='100%')
                      table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 610px;' width='100%')
                        tbody
                          tr
                            td.col(align='center' cellpadding='0' style='max-width: 187px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%')
                              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                                tbody
                                  tr
                                    td.responsive_image_portrait(align='center' padding='0px 0px 0px 0px' style='max-width: 600px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px;' valign='middle' width='100%')
                                      //if (gte mso 9)|(IE)
                                        table(width='186px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                                          tr
                                            td(width='186px' align='left' valign='top')
                                      div(pardot-region='' pardot-region-type='WYSIWYG')
                                        a(border='0' href=urlShare)
                                          img(alt='Blackstone' border='0' src='https://devmds.com/toyota/mail.jpg' style='outline:none; -ms-interpolation-mode: bicubic; display:block;' width='100%')
                                      //if (gte mso 9)|(IE)
              // END COLUMNIST (2 COLUMN)
              div(pardot-repeatable='')
                // START CONTACT INFO
                table(bgcolor='#020202' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 320px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0; background-color: #020202;' width='100%')
                  tbody
                    tr
                      td(align='left' bgcolor='#020202')
                        // START COLUMNIST (2 COLUMN)
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; cellpadding: 0; mso-padding-alt: 0; border: 0;' width='100%')
                          tbody
                            tr
                              td.columnwrap(align='center' bgcolor='#020202' border='0' cellpadding='0px 0px 0px 0px' style='max-width: 600px; font-size: 0px; padding: 40px 0px 0px 0px; mso-padding-alt: 40px 0px 0px 0px; background-color: #020202;' valign='top' width='100%')
                                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 610px;' width='100%')
                                  tbody
                                    tr
                                      td.col(align='center' cellpadding='0' style='max-width: 187px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%')
                                        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                                          tbody
                                            tr
                                              td.responsive_image_portrait(align='center' padding='0px 0px 0px 0px' style='max-width: 600px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px;' valign='middle' width='100%')
                                                //if (gte mso 9)|(IE)
                                                  table(width='186px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                                                    tr
                                                      td(width='186px' align='left' valign='top')
                                                div(pardot-region='' pardot-region-type='WYSIWYG')
                                                  a(border='0' href=urlShare)
                                                    img(alt='Blackstone' border='0' src='https://devmds.com/toyota/title.jpg' style='width:288px; outline:none; -ms-interpolation-mode: bicubic; display:block;' width='100%')
                                                //if (gte mso 9)|(IE)
                        // END COLUMNIST (2 COLUMN)
                    tr(pardot-repeatable='' style='')
                      td.columnwrap(align='center' cellpadding='15px 15px 30px 15px' pardot-region='' style="max-width: 320px; font-family: 'helvetica', serif; font-weight: 400; font-size: 16px; line-height: 25px; color: #fefefe; Margin: 0; padding: 20px 15px 0px 15px; mso-padding-alt: 20px 15px 30px 15px;" valign='top' width='100%')
                        p.body-text(href='tel:+1-212-583-5200' pardot-region='' style="font-family: 'helvetica', serif; font-size: 18px; line-height: 25px; color: #fefefe; text-decoration: none; display: inline-block;") On the next link you can watch your full video with Lunay.
                    tr
                      td(align='left' bgcolor='#020202')
                        // START COLUMNIST (2 COLUMN)
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; cellpadding: 0; mso-padding-alt: 0; border: 0;' width='100%')
                          tbody
                            tr
                              td.columnwrap(align='center' bgcolor='#020202' border='0' cellpadding='0px 0px 0px 0px' style='max-width: 600px; font-size: 0px; padding: 25px 0px 45px 0px; mso-padding-alt: 25px 0px 45px 0px; background-color: #020202;' valign='top' width='100%')
                                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 610px;' width='100%')
                                  tbody
                                    tr
                                      td.col(align='center' cellpadding='0' style='max-width: 187px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%')
                                        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                                          tbody
                                            tr
                                              td.responsive_image_portrait(align='center' padding='0px 0px 0px 0px' style='max-width: 600px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px;' valign='middle' width='100%')
                                                //if (gte mso 9)|(IE)
                                                  table(width='186px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                                                    tr
                                                      td(width='186px' align='left' valign='top')
                                                div(pardot-region='' pardot-region-type='WYSIWYG')
                                                  a(border='0' href=urlShare)
                                                    img(alt='Blackstone' border='0' src='https://devmds.com/toyota/btn-video.png' style='width:288px; outline:none; -ms-interpolation-mode: bicubic; display:block;' width='100%')
                                                //if (gte mso 9)|(IE)
                        // END COLUMNIST (2 COLUMN)
                // END CONTACT INFO
      // START COPYRIGHT / EMAIL PREFERENCES
      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px; cellpadding: 0; cellspacing: 0; border: 0;' width='100%')
        tbody
          tr
            td(align='left' bgcolor='#020202' style='border-top: 1px solid #2F2F2F;')
              // START COLUMNIST (2 COLUMN)
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px; cellspacing: 0; mso-cellspacing: 0; cellpadding: 0; mso-padding-alt: 0; border: 0;' width='100%')
                tbody
                  tr
                    td.columnwrap(align='center' bgcolor='#020202' border='0' cellpadding='0px 0px 0px 0px' style='max-width: 600px; font-size: 0px; padding: 25px 0px 0px 0px; mso-padding-alt: 25px 0px 0px 0px; background-color: #020202;' valign='top' width='100%')
                      table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 610px;' width='100%')
                        tbody
                          tr
                            td.col(align='center' cellpadding='0' style='max-width: 187px; cellspacing: 0; mso-cellspacing: 0; padding: 0; mso-padding-alt: 0; border: 0;' valign='top' width='100%')
                              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='max-width: 600px;' width='100%')
                                tbody
                                  tr
                                    td.responsive_image_portrait(align='center' padding='0px 0px 0px 0px' style='max-width: 600px; padding: 0px 0px 0px 0px; mso-padding-alt: 0px 0px 0px 0px;' valign='middle' width='100%')
                                      //if (gte mso 9)|(IE)
                                        table(width='186px' cellspacing='0' cellpadding='0' border='0' role='presentation')
                                          tr
                                            td(width='186px' align='left' valign='top')
                                      div(pardot-region='' pardot-region-type='WYSIWYG')
                                        a(border='0' href='https://www.toyota.com/')
                                          img(alt='Blackstone' border='0' src='https://devmds.com/toyota/minilogo.png' style='width:32px; outline:none; -ms-interpolation-mode: bicubic; display:block;' width='100%')
                                      //if (gte mso 9)|(IE)
              // END COLUMNIST (2 COLUMN)
          tr
            td.columnwrap(align='left' bgcolor='#020202' cellpadding='20px 15px 20px 15px' margin='0' pardot-region='' style="max-width: 600px; font-family: 'helvetica', serif; font-size: 10px; line-height: 18px; color: #fefefe; padding: 25px 0px 0px 0px; mso-padding-alt: 25px 0px 0px 0px; margin: 0px; background: #020202;" width='100%')
              | Donec sed eros sed libero malesuada mollis. Nam mattis molestie faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et ullamcorper lorem. Aliquam ut consectetur urna. Nullam sit amet ullamcorper elit. Nam non risus quis odio varius tincidunt. Maecenas tincidunt, augue in mollis sodales, lacus quam aliquet nunc, et consequat velit est vitae nisl. Fusce aliquet tortor non ex dictum mollis. Vestibulum pulvinar sem a tincidunt euismod.
      // END COPYRIGHT / EMAIL PREFERENCES
      // END CONTENT AREA
      //if (gte mso 9)|(IE)
